.header {
  background-color: hsl(168deg 30% 38%);;
}

mat-nav-list.list-horizontal {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 1.5rem;
    background-color:  hsl(168deg 30% 38%);
}
   
.nav-caption{
  margin-left: 0.5rem;
}

.list-horizontal a{
  color: white;
}

.username{
  font-size: 20px;
  margin-left: 1rem;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}


