
<mat-toolbar class="header">
   
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <p>Hobby World</p>
    </div>
    <a *ngIf="isAuthenticated" class="username">Welcome {{activeUser}}</a>
  <mat-nav-list class="list-horizontal">
        <a  routerLink="/subcategory/add" *ngIf="isAdmin">
            <mat-icon>app_registration</mat-icon><span class="nav-caption">Create subcategory</span>
        </a>
        <a  routerLink="/user/add-article" *ngIf="isAdmin">
            <mat-icon>app_registration</mat-icon><span class="nav-caption">Create hobby article</span>
        </a>
          <a>
            <button class="nav-caption"  (click)="login()" *ngIf="!isAuthenticated">Login</button>   
          </a>
           <a>
            <button class="nav-caption" (click)="logout()" *ngIf="isAuthenticated">Logout</button>   
           </a>
    </mat-nav-list>
</mat-toolbar>
