
<mat-toolbar class="header">
   
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="nav-caption">Hobby Blog</span>
    <span class="nav-caption">Hello, {{fullName}}</span>

  <mat-nav-list class="list-horizontal">
        <a  routerLink="/subcategory/add"   *ngIf="isAuthenticated && role==='Admin'">
            <mat-icon>app_registration</mat-icon> <span class="nav-caption">Create subcategory</span>
        </a>
        <a  routerLink="/user/add-article"  *ngIf="isAuthenticated && (role==='Admin' || role==='User')">
            <mat-icon>app_registration</mat-icon> <span class="nav-caption">Create hobby article</span>
        </a>
        <a routerLink="/register" *ngIf="!isAuthenticated">
            <mat-icon>app_registration</mat-icon> <span class="nav-caption" *ngIf="!isAuthenticated">Register</span>   
          </a>
          <a routerLink="/login" *ngIf="!isAuthenticated">
            <mat-icon aria-hidden="false">login</mat-icon> <span class="nav-caption">Login</span>   
          </a>
           <a>
            <button class="nav-caption" (click)="logOut()" *ngIf="isAuthenticated">Logout</button>   
           </a>
    </mat-nav-list>
</mat-toolbar>
