<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Forget password</mat-card-title>
        <span>Please, provide your E-mail. We will send the reset link</span>
      </mat-card-header>
    <form class="example-form" [formGroup]="resetPasswordForm"  (ngSubmit)="onSubmit(resetPasswordForm)">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput
            formControlName="email"
            #email 
            [value]="email" > 
            <mat-label><b> Email</b></mat-label>
            <mat-error *ngIf="resetPasswordForm.controls['email'].errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.controls['email'].errors?.['minlenght']">Email must be more than 5 characters</mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['email'].errors?.['email']">Email is not correct</mat-error>
        </mat-form-field>
    </mat-card-content>
        <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
        <button mat-stroked-button color="accent" class="btn-block">Send</button>
        </div>
      </form>
  </mat-card>
  </div>
