body {
    margin:0;
    display:flex; 
    flex-direction:column;
    margin-top: 20px;
}

section{
    display: flex;
    align-items: center;
    max-width: 91%;
    margin: auto;
    background-color: wheat;
}

.advices{
    margin-bottom: 20px;
}

.image{
     height: 21rem;
}

.info{
    max-width: 70%;
}

.needHobby{
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 40px;
    margin-top: 100px;
    align-items: center;
}


h1{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    align-content: center;
    font-size: 70px;
}

h2{
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
}

.mdc-list-item__secondary-text{
    white-space: pre-wrap;
}



