<h2 class="needHobby">Why you need a hobby?</h2>
   <section class="info">
    <div>
        <p> Hobbies allow you to discover interests outside of work.
            They allow you to be creative and try all sorts of new things.
            If you are bored with your old hobby, choosing another can make your
            creative juices flow again. Don't push yourself, but you have many options, even if your budget is limited.
        </p>
    </div>
    <div>
        <img src="https://res.cloudinary.com/dpqbf79wg/image/upload/v1674677689/Hobby%20Blog/lpuluqk5wcaqh989l5zu.jpg" alt="img">
    </div>
  </section>
<h2 class="needHobby">Steps to find your hobby</h2>
<section class="steps">
    <div>
        <ul>
            <li>
                <h3>Upgrade on your current interests</h3>
                <p>See what interests you. Investigate what your free time takes when you have it.
                    Do you like reading books? You may want to try to write them. Do you like cold beer at
                    the end of the day? Maybe your hobby may be trying to brew beer at home. Turn what you
                    already love into a hobby.</p>
            </li>
            <li>
                <h3>Viewing your childhood</h3>
                <p>Remember what you loved as a child. Did you like racing bikes with friends? Did you
                    really do comics? Did you like to paint or paint? Think about what really excited you as a child and what
                    you could spend for hours</p>
            </li>
            <li>
                <h3>Exploring new territory for ideas</h3>
                <p>
                    Visit a craft store. Take a walk around the craft store to see what hobbies are
                    available.
                    You can find something you have never thought about, such as building airplanes or
                    learning how to work with clay.</p>
            </li>
        </ul>
    </div>
   
</section>

<h2 class="needHobby">Advices</h2>

<section class="advices">
    <div>
        <ul>
            <li>
                <p>
                    Before you get involved in your hobby, find a place to work on it and a place to store it,
                    whether indoors or outdoors. Even outdoor hobbies that need equipment will require storage space;
                    these hockey sticks, soccer balls, boots, bikes and tents have to go somewhere when you are not
                    using them.
                </p>
            </li>
            <li>
                <p>
                    Buy used consumables, which is more environmentally friendly and saves you money. You can
                    find some used consumables in savings stores and online exchanges.
                </p>
            </li>
            <li>
                <p>
                    After practicing a hobby for a while, you will become better at it. You can get to a point
                    where the hobby can pay off. For example, this can lead to selling arts and crafts, training other
                    athletes, writing articles, and training others, which is a good way to keep costs low.
                </p>
            </li>
            <li>
                <p>
                    Try three times a few times and see what you like. Your first experience may not be representative!
                </p>
            </li>
        </ul>

    </div>
</section>