h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 4rem;
    color: wheat;
}

h4 {
    margin-bottom: 0rem;
    font-weight: 600;
}

section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: wheat;
    max-width: 60rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.image {
    height: 19rem;
}

.need-hobby {
    height: 17rem;
    max-width: 41rem;
    margin: 2rem 1rem 0.2rem 10rem;
}

.need-hobby img {
    height: 17rem;
}

.steps {
    margin-left: 20rem;
    height: 20rem;
}

.advices {
    margin-left: 10rem;
    margin-bottom: 1rem;
    height: 20rem;
    max-width: 58rem;
}