
<div *ngFor="let h of hobbies">
<mat-card class="example-card">
  <mat-card-header class="card-header" (click)="openDialog(h)">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{h.title}}</mat-card-title>
    <mat-card-subtitle>{{h.username}}</mat-card-subtitle>
  </mat-card-header>
  <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" (click)="openDialog(h)" alt="Photo of a Shiba Inu">
  <mat-card-content (click)="openDialog(h)">
    <p>
      {{h.description}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
 </mat-card-actions>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="my-panel">
          <h3>Comments</h3>
        </div>
      </mat-expansion-panel-header>
     <div>
     <app-comments-list [currentUsername]="currentUsername" [comments] = "h.hobbyComments"  
       [hobbyArticleId] = "h.id">
      </app-comments-list>
     </div>
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>

</div>