.example-card {
  max-width: 30%;
  background-color: white;
  padding: 0.5rem;
  height: fit-content;
}

.card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}

.card-header mat-card-title {
  font-weight: 800;
  font-size: medium;
}

.card-header mat-card-subtitle {
  font-weight: 500;
  font-size: small;
}

.actions {
  display: block;
}

.comment-section-header:hover{
  cursor: pointer;
}

.container {
  display: block;
  height: 252px;
  margin-bottom: 1rem;
}