<div class="form">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form-group sub-category">
      <p>Add sub category</p>
        <mat-form-field appearance="fill" class="sub-category-field">
            <mat-label for="name">Name</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   ngModel
                   name="name"
                   #name="ngModel"
                   required
                   minlength="3">
            <mat-error *ngIf="!name.valid">Name is invalid</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="hobbyCategoryId">Choose category</mat-label>
            <mat-select class="form-control" ngModel name="hobbyCategoryId">
                <mat-option  *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary">Submit</button>

    <span *ngIf="isSuccessfull">Subcategory is added successfull!</span>
    </form>
</div>
