<div class="form">
     
     <form [formGroup]="signUpForm" class="form-group register" (ngSubmit)="onSubmit(signUpForm)">
    <p>Sign up</p>  
     <mat-form-field appearance="fill" class="register-field">
         <mat-label for="username">Username</mat-label>
         <input matInput
                class="form-control"
                type="text"
                formControlName="username"
                #username />
          <mat-error *ngIf="signUpForm.controls['username'].errors?.['required']">Username is required</mat-error>
          <mat-error *ngIf="signUpForm.controls['username'].errors?.['minlenght']">Username must be more than 3 characters</mat-error>
    </mat-form-field>

      <mat-form-field appearance="fill" class="register-field">
        <mat-label for="firstName">First name</mat-label>
        <input matInput
               class="form-control"
               type="text"
               formControlName="firstName"
               #firstName />
         <mat-error *ngIf="signUpForm.controls['firstName'].errors?.['required']">First name is required</mat-error>
         <mat-error *ngIf="signUpForm.controls['firstName'].errors?.['minlenght']">First name must be more than 3 characters</mat-error>
   </mat-form-field>

   <mat-form-field appearance="fill" class="register-field">
      <mat-label for="lastName">Last name</mat-label>
      <input matInput
            class="form-control"
             type="text"
             formControlName="lastName"
             #lastName />
       <mat-error *ngIf="signUpForm.controls['lastName'].errors?.['required']">Last name is required</mat-error>
       <mat-error *ngIf="signUpForm.controls['lastName'].errors?.['minlenght']">Last name must be more than 3 characters</mat-error>
 </mat-form-field>


 <mat-form-field appearance="fill" class="register-field">
      <mat-label for="email">Email</mat-label>
      <input matInput
             class="form-control"
             type="email"
             formControlName="email"
             #email />
       <mat-error *ngIf="signUpForm.controls['email'].errors?.['required']">Email is required</mat-error>
       <mat-error *ngIf="signUpForm.controls['email'].errors?.['email']">Not valid email</mat-error>
 </mat-form-field>


 <mat-form-field appearance="fill" class="register-field">
      <mat-label for="age">Age</mat-label>
      <input matInput
             class="form-control"
             type="number"
             formControlName="age"
             #age />
       <mat-error *ngIf="signUpForm.controls['age'].errors?.['required']">Age is required</mat-error>
       <mat-error *ngIf="signUpForm.controls['age'].errors?.['minlenght']">Age must be more than 15</mat-error>
 </mat-form-field>

 <mat-form-field appearance="fill" class="register-field">
      <mat-label for="password">Password</mat-label>
      <input matInput
             class="form-control"
             type="password"
             formControlName="password"
             #password />
       <mat-error *ngIf="signUpForm.controls['password'].errors?.['required']">Passeword is required</mat-error>
       <mat-error *ngIf="signUpForm.controls['password'].errors?.['minlenght']">Password must be more than 5 characters</mat-error>
 </mat-form-field>
 
 <mat-form-field appearance="fill" class="register-field">
      <mat-label for="confirmPassword">Confirm password</mat-label>
      <input matInput
             class="form-control"
             type="password"
             formControlName="confirmPassword"
             #confirmPassword />
       <mat-error *ngIf="signUpForm.controls['confirmPassword'].errors?.['required']">Confirm passeword is required</mat-error>
       <mat-error *ngIf="signUpForm.controls['confirmPassword'].errors?.['minlenght']">Confirm password must be more than 5 characters</mat-error>
       <mat-error *ngIf="signUpForm.controls['confirmPassword'].errors?.['confirmPasswordValidator']">Passsword and
            confirm Password didn't match.</mat-error>

 </mat-form-field>

 <button type="submit" mat-raised-button color="primary">Submit</button>

</form>
</div>
