

<div class="form">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="form-group login" appearance="outline">
        <p>Login</p>
        <mat-form-field appearance="fill" class="login-field">
            <mat-label for="name">Username</mat-label>
            <input matInput
                   class="form-control"
                   type="text"
                   ngModel
                   name="username"
                   #name="ngModel" 
                   required
                   minlength="4">
            <mat-error *ngIf="!name.valid">Name is invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="login-field">
            <mat-label for="name">Password</mat-label>
            <input matInput
                   class="form-control"
                   type="password"
                   ngModel
                   name="password"
                   #name="ngModel" 
                   required
                   minlength="4">
            <mat-error *ngIf="!name.valid">Password is invalid</mat-error>
        </mat-form-field>

         <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary">Login</button>
         
         <span>Don't have an account?</span> <a routerLink="/user/register">Create account</a>
    </form>
</div>
<router-outlet></router-outlet>
