<div class="comment">
  <span class="material-icons"> person_pin </span>
    <div class="comment-right-part">
      <div class="comment-content">
        <div class="comment-author">{{ comment.username }}</div>
      </div>
      <div class="comment-text">{{ comment.commentContent }}</div>
    </div>
    <div class="comment-actions">
      <button mat-button *ngIf="canDelete" (click)="deleteComment(comment.id)">Delete</button>
      <button
      *ngIf="canEdit"
      class="comment-action"
      (click)="setActiveComment.emit({
          id: comment.id,
          type: activeCommentType.editing
        })">Edit</button>
    </div>
    <app-comment-form *ngIf="isReplying()" submitLabel="Reply", (handleSubmit)="addComment.emit({text: $event, parentId: replyId})"></app-comment-form>
  </div>
  <mat-divider></mat-divider>
