<mat-card class="example-card">
  <div class="container-carousel">
    <app-carousel [slides]="modalPhotos"></app-carousel>
  </div>
  <div class="container">
    <mat-card-header class="card-header">
      <mat-card-subtitle>{{modalUsername}}</mat-card-subtitle>
      <mat-icon (click)="likeArticle()">favorite_border</mat-icon>
    </mat-card-header>
    <mat-card-title>{{modalTitle}}</mat-card-title>
    <mat-card-content>{{modalDescription}}</mat-card-content>
    <mat-card-actions class="actions">
      <button *ngIf="currentUsername==modalUsername" mat-button>Edit</button>
      <button *ngIf="currentUsername==modalUsername" mat-button>Delete</button>
    </mat-card-actions>
    <p>{{modalLikes}} Likes</p>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Comments</mat-expansion-panel-header>
        <div>
          <app-comments-list [currentUsername]="modalUsername" [modalComments]="modalComments"
            [hobbyArticleId]="modalId">
          </app-comments-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-card>