.example-card {
  width: 60rem;
  height: 34rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.container {
  padding: 0.5rem;
  width: 70%;
  height: fit-content;
}

.container-carousel {
  display: block;
  height: 500px;
  width: 500px;
  padding: 1em;
}

.card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7rem;
  justify-content: space-between;
}

.card-header mat-card-subtitle {
  font-weight: 800;
  font-size: medium;
}

mat-card-title {
  font-weight: 500;
  font-size: medium;
  display: block;
  margin-bottom: 0.4rem;
}

.actions {
  display: block;
  margin: 0.5rem auto;
}
