.form {
    max-width: 50%;
    margin: auto;
    margin-top: 10px;
}

.form p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 2rem;
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid black;
    padding-top: 3rem;
    width: 40%;
    margin: auto;
    height: 16rem;
}

.tag-field {
    border-radius: 50px;
    width: 15rem;
    margin-top: -3px;
    margin-bottom: 2rem;
}

.form-control {
    height: 0.5rem;
}