.profile-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 24%;
    height: auto;
    margin-left: 10rem;
    margin-top: 1.5rem;
    background-color: azure;
    border-radius: 1rem;
}

span {
    display: block;
}

.username {
    font-weight: 500;
    font-size: medium;
}

.profile-image {
    border-radius: 50px;
    width: 15rem;
    height: 15rem;
}