mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav-container {
    background-image: url("/assets/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

mat-sidenav {
    width: 250px;
}