<app-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-navigation-list (sidenavClose)="sidenav.close()"></app-navigation-list>
    </mat-sidenav>
    <section class="welcome">
      <h1 class="col-sm-12 col-md-8 col-lg-6">Hobby Blog</h1>
      <p>Here you can share your hobby or find one to have fun with or fill your free time.</p>
   </section>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main class="main">
          <router-outlet></router-outlet>
        </main>
     </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer></app-footer>
</app-layout>